@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face {
        font-family: "IRANSansX Regular";
        src: url("fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
    }
    @font-face {
        font-family: "IRANSansX bold";
        src: url("fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
    }
}